
.splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Chelsea Market', cursive;
}
.splash h1{
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.splash h2{
    font-size: 30px;
    margin-bottom: 0;
}
.splash p{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.startForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startForm p{
    margin-bottom: 0;
    font-size: 18px;
}
.btn.start,
.btn.restart{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #60966d;
    border: 1px solid #4d7d59;
    box-shadow: -3px 3px #4d7d59, -2px 2px #4d7d59, -1px 1px #4d7d59;
    border-radius: 2px;
    color: white;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
}
#game{
    border: 2px solid black;
}
.gamePanel{
    display: flex;
    justify-content: center;
}